h1,
h2,
h3,
h4 {
  font-family: "Varela Round", Sans-Serif;
}

a {
  font-family: "Noto Serif", Serif;
}

body {
  padding-top: 100px;
  background-color: #cbe0e0;
}

.card {
  background-color: #a0c3d2;
}

#locationButton,
#geocodeButton {
  background-color: #6e8791;
  border-color: #6e8791;
  margin-top: 10px;
  margin-bottom: 5px;
}
