h1,
h2,
h3,
h4 {
  font-family: "Varela Round", Sans-Serif;
}

h1{
  margin-bottom: 20px;
}

a {
  font-family: "Noto Serif", Serif;
}

body {
  padding-top: 100px;
  background-color: #cbe0e0;
}

#formCard {
  background-color: #a0c3d2;
}

#detailCardHeader{
  background-color: #f59c64;
  color: white;
}


#locationButton,
#geocodeButton{
  background-color: #6e8791;
  border-color: #6e8791;
  margin-top: 10px;
  margin-bottom: 5px;
}

.helpPersonButton {
    border-color: #6e8791;
    color:#6e8791;
}

.helpPersonButton:hover {
    border-color: #6e8791;
    background-color: #6e8791;
    color:white;
}

.btn-danger, .btn-success{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card {
  width:100%;
}

#marker {
  width: '50%',
  height: '50%',
  left: '50%',
  top: '50%',
  margin: 0,
  padding: 0,
  position: 'absolute',
}

